<div class="heading d-flex justify-content-between">
  <h2 class="">My Courses</h2>
  <div class="btn-wrap">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add-new-course-modal">Add new course</button>
  </div>
</div>
  
<table class="table table-striped table-bordered mt-4">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Image ID</th>
      <th scope="col">Video ID</th>
      <th scope="col">Create At</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < courses.length; i++) { %>
      <% const course = courses[i] %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%=  course._id %></td>
        <td><%= course.name %></td>
        <td><%= course.imageId %></td>
        <td><%= course.videoId %></td>
        <td><%= moment(course.createdAt).format('YYYY/MM/DD hh:mm:ss A')  %></td>
        <td>
          <button type="button" class="btn-edit btn btn-dark" data-id="<%=  course._id %>" data-bs-toggle="modal" data-bs-target="#edit-course-modal">Edit</button>
          <button type="button" class="btn-remove btn btn-dark" data-id="<%=  course._id %>" data-bs-toggle="modal" data-bs-target="#confirm-edit-modal">Remove</button>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<%- include('./addNewCourseModal.ejs') %>
<%- include('./editCourseModal.ejs') %>
<%- include('./confirmRemoveModal.ejs') %>

<script src="/js/editCourse.js"></script>
<script src="/js/removeCourse.js"></script>
