<div class="heading d-flex justify-content-between">
  <h2 class="">My Courses</h2>
  <div class="btn-wrap">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#add-new-course-modal">
      <i class="me-1  fa-solid fa-plus"></i>
      Add new course
    </button>
    <a class="btn btn-dark" href="/me/trash/courses">
      <i class="me-1 fa-solid fa-trash"></i>
      Trash
    </a>
  </div>
</div>

<div class="dashboard mt-3 d-flex align-items-center">
  <button type="button" class="btn-by-select btn-remove-by-select btn btn-dark disabled">
    Remove 
  </button>

  <div class="search-wrap ms-auto">
    <input type="text" class="input-search form-control shadow-none" placeholder="Enter course name">
    <a class="btn-search btn btn-dark ms-2" href="/me/store/courses">Search</a>
  </div>
</div>

<table class="table table-striped table-bordered mt-3">
  <thead class="table-dark">
    <tr>
      <th scope="col">
        <% if (courses.length !== 0) { %> 
          <input type="checkbox" class="checkAll">
        <% } %>
      </th>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">
        Name
        <%- sortable('name', sort) %>
      </th>
      <th scope="col">
        Video ID
        <%- sortable('videoId', sort) %>
      </th>
      <th scope="col">
        Image ID
        <%- sortable('imageId', sort) %>
      </th>
      <th scope="col">
        Created At
        <%- sortable('createdAt', sort) %>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% if (courses.length === 0) { %>
      <tr>
        <td class="text-center" colspan="8">
          There are no courses yet. Let's
          <span style="cursor: pointer;" class="text-primary" data-bs-toggle="modal" data-bs-target="#add-new-course-modal">add new course </span>
        </td>
      </tr>
    <% } else { %>
      <% for(let i = 0; i < courses.length; i++) { %>
        <% const course = courses[i] %>
        <tr>
          <td>
            <input type="checkbox" name="check" data-id="<%=  course._id %>">
          </td>
          <th scope="row"><%= i + 1 %></th>
          <td><%=  course._id %></td>
          <td><%= course.name %></td>
          <td><%= course.videoId %></td>
          <td><%= course.imageId %></td>
          <td><%= moment(course.createdAt).format('YYYY/MM/DD hh:mm:ss A')  %></td>
          <td class="text-center">
            <button type="button" class="btn-edit btn btn-dark" data-id="<%=  course._id %>" data-bs-toggle="modal" data-bs-target="#edit-course-modal">Edit</button>
            <button type="button" class="btn-remove btn btn-dark" data-id="<%=  course._id %>" data-bs-toggle="modal" data-bs-target="#confirm-edit-modal">Remove</button>
          </td>
        </tr>
      <% } %>
    <% } %>
  </tbody>
</table>

<%- include('./addNewCourseModal.ejs') %>
<%- include('./editCourseModal.ejs') %>
<%- include('./confirmRemoveModal.ejs') %>

<script src="/js/me/store/courses/edit.js"></script>
<script src="/js/me/store/courses/remove.js"></script>
<script src="/js/me/handleCheckboxCourse.js"></script>
<script src="/js/me/store/courses/removeBySelect.js"></script>
<script src="/js/me/handleSearchCourse.js"></script>

