<div class="heading d-flex justify-content-between">
  <h2 class="">My Courses</h2>
  <div class="btn-wrap">
    <a class="btn btn-dark" href="/me/store/courses">My Courses</a>
  </div>
</div>
  
<table class="table table-striped table-bordered mt-4">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Video ID</th>
      <th scope="col">Image ID</th>
      <th scope="col">Deleted At</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < courses.length; i++) { %>
      <% const course = courses[i] %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%=  course._id %></td>
        <td><%= course.name %></td>
        <td><%= course.videoId %></td>
        <td><%= course.imageId %></td>
        <td><%= moment(course.deletedAt).format('YYYY/MM/DD hh:mm:ss A')  %></td>
        <td class="text-center">
          <button type="button" class="btn-restore btn btn-dark" data-id="<%=  course._id %>">Restore</button>
          <button type="button" class="btn-delete btn btn-dark" data-id="<%=  course._id %>" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal">Delete</button>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<%- include('./confirmDeleteModal.ejs') %>

<script src="/js/restoreCourse.js"></script>
<script src="/js/forceCourse.js"></script>
