<div class="heading d-flex justify-content-between">
  <h2 class="">Course Trash</h2>
  <div class="btn-wrap">
    <a class="btn btn-dark" href="/me/store/courses">
      <i class="me-1 fa-solid fa-user-graduate fa-lg"></i>
      My Courses
    </a>
  </div>
</div>

<div class="dashboard mt-3 d-flex align-items-center">
  <button type="button" class="btn-by-select btn-remove-by-select btn btn-dark disabled">
    Remove
  </button>

  <button type="button" class="btn-by-select btn-restore-by-select ms-3 btn btn-dark disabled">
    Restore
  </button>

  <div class="search-wrap ms-5">
    <input type="text" class="input-search form-control shadow-none" placeholder="Enter course name">
    <a class="btn-search btn btn-dark ms-2" href="/me/trash/courses">Search</a>
  </div>
</div>
  
<table class="table table-striped table-bordered mt-3">
  <thead class="table-dark">
    <tr>
      <th scope="col">
        <input type="checkbox" class="checkAll">
      </th>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Video ID</th>
      <th scope="col">Image ID</th>
      <th scope="col">Deleted At</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% if (courses.length === 0) { %>
        <tr>
          <td class="text-center" colspan="7">--- Empty Trash ---</td>
        </tr>
    <% } else { %>
      <% for(let i = 0; i < courses.length; i++) { %>
        <% const course = courses[i] %>
        <tr>
          <td>
            <input type="checkbox" name="check" data-id="<%=  course._id %>">
          </td>
          <th scope="row"><%= i + 1 %></th>
          <td><%=  course._id %></td>
          <td><%= course.name %></td>
          <td><%= course.videoId %></td>
          <td><%= course.imageId %></td>
          <td><%= moment(course.deletedAt).format('YYYY/MM/DD hh:mm:ss A')  %></td>
          <td class="text-center">
            <button type="button" class="btn-restore btn btn-dark" data-id="<%=  course._id %>">Restore</button>
            <button type="button" class="btn-delete btn btn-dark" data-id="<%=  course._id %>" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal">Delete</button>
          </td>
        </tr>
      <% } %>
    <% } %>

  </tbody>
</table>

<%- include('./confirmDeleteModal.ejs') %>

<script src="/js/me/trash/courses/restore.js"></script>
<script src="/js/me/trash/courses/force.js"></script>
<script src="/js/me/handleCheckboxCourse.js"></script>
<script src="/js/me/handleSearchCourse.js"></script>
<script src="/js/me/trash/courses/forceBySelect.js"></script>
<script src="/js/me/trash/courses/restoreBySelect.js"></script>

